*
{
    color:whitesmoke;
}


.navbar {
    display: flex;
    height: 80px;
    width: 80%;
    justify-content: flex-end;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 20px;
    right:25px;
    font-weight: bold;
}

.menu ul li a {
    text-decoration: none;
    color: #c6dabf; /* Default text color */
    text-transform: uppercase;
    font-size: 13px;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.menu ul li a:hover {
    color: #118AB2; /* Hover color */
}

/* Responsive adjustments */
@media (max-width: 1000px) {
    .navbar {
        padding: 0 20px 0 50px;
    }
}

h1
{
    margin: 20px; 
    padding:35px;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #c6dabf;
}

.container
{
display:flex;
justify-content: space-around;
height: 100vh;
}

.principal
{
    background-color:#06D6A0;
    border-radius:25%;
    width: 280px;
    height:270px;
    position:relative;
}

.square1
{
    background-color:#118AB2;
    border-radius:25%;
    width:250px;
    height:220px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3
{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding:2px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

li
{
    font-size:16px;
    
}