* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #06D6A0;
    color:whitesmoke;

}

.navbar {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: flex-end;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    background-color: #06D6A0; /* Optional: Set background color */
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white; /* Default text color */
    text-transform: uppercase;
    font-size: 13px;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.menu ul li a:hover {
    color: #118AB2; /* Hover color */
}

/* Responsive adjustments */
@media (max-width: 1000px) {
    .navbar {
        padding: 0 20px 0 50px;
    }
}

.container {
    display: flex;
    flex-direction: column; /* Stack projects vertically */
    align-items: center; /* Center projects horizontally */
    padding: 20px; /* Add padding around the container */
}

.projects {
    display: flex; /* Keep flexbox for the internal layout */
    align-items: center; /* Center items vertically */
    background-color: #648BED; /* Same background color as principal */
    width: 100%; /* Full width of the container */
    max-width: 800px; /* Optional: Limit the max width */
    height: 200px; /* Fixed height */
    margin: 10px; /* Space between projects */
    overflow: hidden; /* Prevent overflow of content */
}

.image-container {
    position: relative; /* Positioning context for the overlay */
}

.projects img {
    width: 200px; /* Set a fixed width for images */
    height: 200px; /* Set a fixed height for images */
    object-fit: cover; /* Ensure images cover the area */
    margin-right: 20px; /* Space between image and content */
}

.overlay {
    position: absolute; /* Position overlay on top of the image */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    border-radius: 25%; /* Match the border radius of the image */
}

.content {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center content vertically */
    flex-grow: 1; /* Allow content to take the remaining space */
}

h3
{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding:2px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

p
{
    font-size:20px;   
}
